.blog_list {
    flex-grow: 1;
    width: 100%;
    .paper{
        padding: 2px;
        margin: 5px;
        // max-width: 500px;
        .image{
            width: 128px;
            height: 128px;
            .img{
                margin: auto;
                display: block;
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
    
}
